
@model NetCore.Contracts.RegistrationEmailViewModel

<html>
<head>
</head>
<body style="background-color:#f6f6f6;">
    <h1>Hi, @Model.Name</h1>
    <p>
        @Model.Body
    </p>
    <br />
    @Model.RegistrationDate
</body>
</html>